<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="background-color: #EFF0F5; padding: 24px; border-radius: 16px;">
    <h2>Hello {{name}},</h2>

    <body>
        <p>We've received a password reset request. Please use the code below to create your new password.</p>
        
        <p style="font-weight: bold;">{{code}}</span></p>

        <p style="font-size: small;">If you didn't request an password reset verification you can ignore this email.</p>
    </body>

    <div style="font-size: x-small;">
        Hing.
    </div>
</div>

</html>